{
	"$schema": "https://swc.rs/schema.json",
	"jsc": {
		"keepClassNames": true,
		"target": "esnext",
		"parser": {
			"syntax": "typescript",
			"tsx": false,
			"decorators": true
		},
		"transform": {
			"decoratorMetadata": true,
			"legacyDecorator": true
		},
		"baseUrl": "src",
		"paths": {
			"@/*": ["./*"],
			"~configs/*": ["./configs/*"],
			"~constants/*": ["./constants/*"],
			"~controllers/*": ["./controllers/*"],
			"~exceptions/*": ["./exceptions/*"],
			"~middlewares/*": ["./middlewares/*"],
			"~models/*": ["./models/*"],
			"~entities/*": ["./models/entities/*"],
			"~plugins/*": ["./plugins/*"],
			"~repositories/*": ["./repositories/*"],
			"~routes/*": ["./routes/*"],
			"~services/*": ["./services/*"],
			"~types/*": ["./types/*"],
			"~utils/*": ["./utils/*"],
			"~workers/*": ["./workers/*"]
		}
	},
	"module": {
		"type": "commonjs"
	}
}
